<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jm.plugin.androidnotification">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>

        <receiver android:name="jm.plugin.androidnotification.PushNotificationManager">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
    </application>
</manifest>
